In [201]:
import pandas as pd
import numpy as np
import datetime 
import math
from collections import defaultdict

In [80]:
user_1_desktop = pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/1/1_Desktop_Keyboard.csv', header=0)
user_freetext_desktop = pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/Desktop_Freetext.csv', header=0)
user_1_mobile = pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/1/1_HandPhone_Keyboard_(Samsung_S6).csv',header=0)
user_freetext_mobile = pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/Phone_Freetext.csv', header=0)
user_1_tablet =  pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/1/1_HandTablet_Keyboard_(Nexus9).csv',header=0)
user_freetext_tablet = pd.read_csv('C:/Research Activities/Dataset/BB-MAS_Dataset/Tablet_Freetext.csv', header=0)

In [81]:
user_freetext_tablet.head(5)

   User ID           FreeText_Start
0        1  2017-04-14 20:08:14.609
1        2  2017-04-17 15:05:31.354
2        3  2017-04-17 18:36:51.925
3        4  2017-04-16 16:48:56.999
4        5  2017-04-17 12:10:16.035

In [82]:
user_freetext_mobile.head(5)

   User ID       FreeText_Start
0        1  14/04/2017 19:18:33
1        2  17/04/2017 14:40:38
2        3  17/04/2017 17:54:03
3        4  16/04/2017 16:01:04
4        5  17/04/2017 11:46:35

In [83]:
user_1_desktop['time'] = pd.to_datetime(user_1_desktop['time'])
user_freetext_desktop['timestamp'] = pd.to_datetime(user_freetext_desktop['timestamp'])
user_1_mobile['time'] = pd.to_datetime(user_1_mobile['time'])
user_freetext_mobile['FreeText_Start'] = pd.to_datetime(user_freetext_mobile['FreeText_Start'])
user_1_tablet['time'] = pd.to_datetime(user_1_tablet['time'])
user_freetext_tablet['FreeText_Start'] = pd.to_datetime(user_freetext_tablet['FreeText_Start'])

In [84]:
user1_freetext_timestamp_desktop = (user_freetext_desktop.iloc[0,1])
user1_freetext_timestamp_mobile = (user_freetext_mobile.iloc[0,1])
user1_freetext_timestamp_tablet = (user_freetext_tablet.iloc[0,1])

In [85]:
user_1_fixedtext_desktop = user_1_desktop[user_1_desktop["time"]< user1_freetext_timestamp_desktop]
user_1_freetext_desktop = user_1_desktop[user_1_desktop["time"]>= user1_freetext_timestamp_desktop]
user_1_fixedtext_mobile = user_1_mobile[user_1_mobile["time"]< user1_freetext_timestamp_mobile]
user_1_freetext_mobile = user_1_mobile[user_1_mobile["time"]>= user1_freetext_timestamp_mobile]
user_1_fixedtext_tablet = user_1_tablet[user_1_tablet["time"]< user1_freetext_timestamp_tablet]
user_1_freetext_tablet = user_1_tablet[user_1_tablet["time"]>= user1_freetext_timestamp_tablet]

In [86]:
user_1_fixedtext_desktop.name = 'user_1_fixedtext_desktop'
user_1_freetext_desktop.name = 'user_1_freetext_desktop'
user_1_fixedtext_mobile.name = 'user_1_fixedtext_mobile'
user_1_freetext_mobile.name = 'user_1_freetext_mobile'
user_1_fixedtext_tablet.name = 'user_1_fixedtext_tablet'
user_1_freetext_tablet.name = 'user_1_freetext_tablet'

In [87]:
def sampling_users(dataset):
    sample_size= 200
    a = math.floor(len(dataset)/sample_size)

    samples = {}
    for i in range(1,a):
        t = i*sample_size
      
        df_name = dataset.name+'_'+ str(i)
        if i==1 :
            samples[df_name] = dataset.loc[:t-1,:]
            
        else:
            samples[df_name] = dataset.loc[(t-sample_size):t-1,:]
            
    return samples

In [235]:
sampling_users(user_1_fixedtext_desktop)['user_1_fixedtext_desktop_1']

     EID        key  direction                    time
0      0          t          0 2017-04-14 18:09:41.538
1      1          t          1 2017-04-14 18:09:41.679
2      2          i          0 2017-04-14 18:09:41.819
3      3          i          1 2017-04-14 18:09:42.006
4      4  BACKSPACE          0 2017-04-14 18:09:43.223
..   ...        ...        ...                     ...
195  195          h          1 2017-04-14 18:10:16.061
196  196          i          0 2017-04-14 18:10:16.124
197  197          i          1 2017-04-14 18:10:16.202
198  198          s          0 2017-04-14 18:10:16.280
199  199          s          1 2017-04-14 18:10:16.373

[200 rows x 4 columns]

In [236]:
user_1_sample_1_desktop = sampling_users(user_1_fixedtext_desktop)['user_1_fixedtext_desktop_1']
user_1_sample_1_mobile = sampling_users(user_1_fixedtext_mobile)['user_1_fixedtext_mobile_1']
user_1_sample_1_tablet = sampling_users(user_1_fixedtext_tablet)['user_1_fixedtext_tablet_1']

In [90]:
user_1_sample_1_desktop.values

array([[1800, '.', 0, Timestamp('2017-04-14 18:14:12.495000')],
       [1801, '.', 1, Timestamp('2017-04-14 18:14:12.604000')],
       [1802, 'RETURN', 0, Timestamp('2017-04-14 18:14:13.743000')],
       [1803, 'RETURN', 1, Timestamp('2017-04-14 18:14:14.196000')],
       [1804, 't', 0, Timestamp('2017-04-14 18:14:15.241000')],
       [1805, 't', 1, Timestamp('2017-04-14 18:14:15.366000')],
       [1806, 'h', 0, Timestamp('2017-04-14 18:14:15.475000')],
       [1807, 'h', 1, Timestamp('2017-04-14 18:14:15.600000')],
       [1808, 'i', 0, Timestamp('2017-04-14 18:14:15.724000')],
       [1809, 'i', 1, Timestamp('2017-04-14 18:14:16.005000')],
       [1810, 's', 0, Timestamp('2017-04-14 18:14:16.146000')],
       [1811, 's', 1, Timestamp('2017-04-14 18:14:16.270000')],
       [1812, 'SPACE', 0, Timestamp('2017-04-14 18:14:16.380000')],
       [1813, 'SPACE', 1, Timestamp('2017-04-14 18:14:16.504000')],
       [1814, 'i', 0, Timestamp('2017-04-14 18:14:16.629000')],
       [1815, 'i', 1, Timestamp('2017-04-14 18:14:16.832000')],
       [1816, 's', 0, Timestamp('2017-04-14 18:14:16.957000')],
       [1817, 's', 1, Timestamp('2017-04-14 18:14:17.082000')],
       [1818, 'SPACE', 0, Timestamp('2017-04-14 18:14:17.222000')],
       [1819, 'SPACE', 1, Timestamp('2017-04-14 18:14:17.347000')],
       [1820, 'a', 0, Timestamp('2017-04-14 18:14:17.472000')],
       [1821, 'SPACE', 0, Timestamp('2017-04-14 18:14:17.628000')],
       [1822, 'a', 1, Timestamp('2017-04-14 18:14:17.690000')],
       [1823, 'SPACE', 1, Timestamp('2017-04-14 18:14:17.752000')],
       [1824, 't', 0, Timestamp('2017-04-14 18:14:17.908000')],
       [1825, 't', 1, Timestamp('2017-04-14 18:14:17.971000')],
       [1826, 'e', 0, Timestamp('2017-04-14 18:14:18.033000')],
       [1827, 'e', 1, Timestamp('2017-04-14 18:14:18.096000')],
       [1828, 's', 0, Timestamp('2017-04-14 18:14:18.158000')],
       [1829, 't', 0, Timestamp('2017-04-14 18:14:18.220000')],
       [1830, 's', 1, Timestamp('2017-04-14 18:14:18.283000')],
       [1831, 't', 1, Timestamp('2017-04-14 18:14:18.345000')],
       [1832, 'SPACE', 0, Timestamp('2017-04-14 18:14:18.423000')],
       [1833, 'SPACE', 1, Timestamp('2017-04-14 18:14:18.501000')],
       [1834, 't', 0, Timestamp('2017-04-14 18:14:18.595000')],
       [1835, 't', 1, Timestamp('2017-04-14 18:14:18.735000')],
       [1836, 'o', 0, Timestamp('2017-04-14 18:14:18.876000')],
       [1837, 'o', 1, Timestamp('2017-04-14 18:14:18.969000')],
       [1838, 'SPACE', 0, Timestamp('2017-04-14 18:14:19.094000')],
       [1839, 'SPACE', 1, Timestamp('2017-04-14 18:14:19.156000')],
       [1840, 's', 0, Timestamp('2017-04-14 18:14:19.219000')],
       [1841, 's', 1, Timestamp('2017-04-14 18:14:19.281000')],
       [1842, 'e', 0, Timestamp('2017-04-14 18:14:19.344000')],
       [1843, 'e', 1, Timestamp('2017-04-14 18:14:19.390000')],
       [1844, 'e', 0, Timestamp('2017-04-14 18:14:19.562000')],
       [1845, 'e', 1, Timestamp('2017-04-14 18:14:19.812000')],
       [1846, 'SPACE', 0, Timestamp('2017-04-14 18:14:20.061000')],
       [1847, 'SPACE', 1, Timestamp('2017-04-14 18:14:20.124000')],
       [1848, 'i', 0, Timestamp('2017-04-14 18:14:20.186000')],
       [1849, 'i', 1, Timestamp('2017-04-14 18:14:20.248000')],
       [1850, 'f', 0, Timestamp('2017-04-14 18:14:20.389000')],
       [1851, 'f', 1, Timestamp('2017-04-14 18:14:20.498000')],
       [1852, 'SPACE', 0, Timestamp('2017-04-14 18:14:20.576000')],
       [1853, 'SPACE', 1, Timestamp('2017-04-14 18:14:20.638000')],
       [1854, 't', 0, Timestamp('2017-04-14 18:14:20.701000')],
       [1855, 't', 1, Timestamp('2017-04-14 18:14:20.794000')],
       [1856, 'h', 0, Timestamp('2017-04-14 18:14:20.966000')],
       [1857, 'h', 1, Timestamp('2017-04-14 18:14:21.028000')],
       [1858, 'e', 0, Timestamp('2017-04-14 18:14:21.091000')],
       [1859, 'e', 1, Timestamp('2017-04-14 18:14:21.153000')],
       [1860, 'SPACE', 0, Timestamp('2017-04-14 18:14:21.216000')],
       [1861, 'SPACE', 1, Timestamp('2017-04-14 18:14:21.278000')],
       [1862, 'w', 0, Timestamp('2017-04-14 18:14:21.559000')],
       [1863, 'w', 1, Timestamp('2017-04-14 18:14:21.668000')],
       [1864, 'o', 0, Timestamp('2017-04-14 18:14:21.746000')],
       [1865, 'o', 1, Timestamp('2017-04-14 18:14:21.902000')],
       [1866, 'r', 0, Timestamp('2017-04-14 18:14:21.964000')],
       [1867, 'r', 1, Timestamp('2017-04-14 18:14:22.042000')],
       [1868, 'd', 0, Timestamp('2017-04-14 18:14:22.198000')],
       [1869, 'd', 1, Timestamp('2017-04-14 18:14:22.276000')],
       [1870, 's', 0, Timestamp('2017-04-14 18:14:22.401000')],
       [1871, 's', 1, Timestamp('2017-04-14 18:14:22.542000')],
       [1872, 'SPACE', 0, Timestamp('2017-04-14 18:14:22.620000')],
       [1873, 'SPACE', 1, Timestamp('2017-04-14 18:14:22.760000')],
       [1874, 't', 0, Timestamp('2017-04-14 18:14:22.978000')],
       [1875, 't', 1, Timestamp('2017-04-14 18:14:23.088000')],
       [1876, 'h', 0, Timestamp('2017-04-14 18:14:23.150000')],
       [1877, 'h', 1, Timestamp('2017-04-14 18:14:23.212000')],
       [1878, 'a', 0, Timestamp('2017-04-14 18:14:23.368000')],
       [1879, 't', 0, Timestamp('2017-04-14 18:14:23.493000')],
       [1880, 'a', 1, Timestamp('2017-04-14 18:14:23.571000')],
       [1881, 't', 1, Timestamp('2017-04-14 18:14:23.634000')],
       [1882, 'SPACE', 0, Timestamp('2017-04-14 18:14:23.696000')],
       [1883, 'SPACE', 1, Timestamp('2017-04-14 18:14:23.758000')],
       [1884, 'i', 0, Timestamp('2017-04-14 18:14:24.211000')],
       [1885, 'i', 1, Timestamp('2017-04-14 18:14:24.320000')],
       [1886, 'SPACE', 0, Timestamp('2017-04-14 18:14:24.367000')],
       [1887, 'SPACE', 1, Timestamp('2017-04-14 18:14:24.460000')],
       [1888, 't', 0, Timestamp('2017-04-14 18:14:24.585000')],
       [1889, 't', 1, Timestamp('2017-04-14 18:14:24.679000')],
       [1890, 'y', 0, Timestamp('2017-04-14 18:14:24.757000')],
       [1891, 'y', 1, Timestamp('2017-04-14 18:14:24.835000')],
       [1892, 'p', 0, Timestamp('2017-04-14 18:14:25.022000')],
       [1893, 'p', 1, Timestamp('2017-04-14 18:14:25.147000')],
       [1894, 'e', 0, Timestamp('2017-04-14 18:14:25.209000')],
       [1895, 'e', 1, Timestamp('2017-04-14 18:14:25.350000')],
       [1896, 'SPACE', 0, Timestamp('2017-04-14 18:14:25.490000')],
       [1897, 'SPACE', 1, Timestamp('2017-04-14 18:14:25.630000')],
       [1898, 'a', 0, Timestamp('2017-04-14 18:14:25.802000')],
       [1899, 'a', 1, Timestamp('2017-04-14 18:14:25.927000')],
       [1900, 'r', 0, Timestamp('2017-04-14 18:14:26.145000')],
       [1901, 'r', 1, Timestamp('2017-04-14 18:14:26.239000')],
       [1902, 'e', 0, Timestamp('2017-04-14 18:14:26.348000')],
       [1903, 'e', 1, Timestamp('2017-04-14 18:14:26.457000')],
       [1904, 'SPACE', 0, Timestamp('2017-04-14 18:14:26.520000')],
       [1905, 'SPACE', 1, Timestamp('2017-04-14 18:14:26.582000')],
       [1906, 'u', 0, Timestamp('2017-04-14 18:14:26.707000')],
       [1907, 'u', 1, Timestamp('2017-04-14 18:14:26.785000')],
       [1908, 'n', 0, Timestamp('2017-04-14 18:14:26.941000')],
       [1909, 'n', 1, Timestamp('2017-04-14 18:14:27.066000')],
       [1910, 'i', 0, Timestamp('2017-04-14 18:14:27.128000')],
       [1911, 'i', 1, Timestamp('2017-04-14 18:14:27.175000')],
       [1912, 'q', 0, Timestamp('2017-04-14 18:14:27.346000')],
       [1913, 'q', 1, Timestamp('2017-04-14 18:14:27.471000')],
       [1914, 'u', 0, Timestamp('2017-04-14 18:14:27.596000')],
       [1915, 'u', 1, Timestamp('2017-04-14 18:14:27.674000')],
       [1916, 'e', 0, Timestamp('2017-04-14 18:14:27.768000')],
       [1917, 'e', 1, Timestamp('2017-04-14 18:14:27.892000')],
       [1918, 'SPACE', 0, Timestamp('2017-04-14 18:14:28.080000')],
       [1919, 'SPACE', 1, Timestamp('2017-04-14 18:14:28.267000')],
       [1920, 't', 0, Timestamp('2017-04-14 18:14:28.719000')],
       [1921, 'o', 0, Timestamp('2017-04-14 18:14:28.813000')],
       [1922, 't', 1, Timestamp('2017-04-14 18:14:28.860000')],
       [1923, 'o', 1, Timestamp('2017-04-14 18:14:28.969000')],
       [1924, 'SPACE', 0, Timestamp('2017-04-14 18:14:29.031000')],
       [1925, 'SPACE', 1, Timestamp('2017-04-14 18:14:29.094000')],
       [1926, 'm', 0, Timestamp('2017-04-14 18:14:29.187000')],
       [1927, 'm', 1, Timestamp('2017-04-14 18:14:29.281000')],
       [1928, 'e', 0, Timestamp('2017-04-14 18:14:29.359000')],
       [1929, 'e', 1, Timestamp('2017-04-14 18:14:29.499000')],
       [1930, '.', 0, Timestamp('2017-04-14 18:14:29.640000')],
       [1931, '.', 1, Timestamp('2017-04-14 18:14:29.749000')],
       [1932, 'SPACE', 0, Timestamp('2017-04-14 18:14:30.014000')],
       [1933, 'SPACE', 1, Timestamp('2017-04-14 18:14:30.139000')],
       [1934, 't', 0, Timestamp('2017-04-14 18:14:30.529000')],
       [1935, 't', 1, Timestamp('2017-04-14 18:14:30.654000')],
       [1936, 'h', 0, Timestamp('2017-04-14 18:14:30.701000')],
       [1937, 'h', 1, Timestamp('2017-04-14 18:14:30.763000')],
       [1938, 'e', 0, Timestamp('2017-04-14 18:14:30.888000')],
       [1939, 'e', 1, Timestamp('2017-04-14 18:14:30.997000')],
       [1940, 'r', 0, Timestamp('2017-04-14 18:14:31.106000')],
       [1941, 'r', 1, Timestamp('2017-04-14 18:14:31.184000')],
       [1942, 'e', 0, Timestamp('2017-04-14 18:14:31.293000')],
       [1943, 'e', 1, Timestamp('2017-04-14 18:14:31.403000')],
       [1944, 'SPACE', 0, Timestamp('2017-04-14 18:14:31.465000')],
       [1945, 'SPACE', 1, Timestamp('2017-04-14 18:14:31.559000')],
       [1946, 'a', 0, Timestamp('2017-04-14 18:14:31.652000')],
       [1947, 'a', 1, Timestamp('2017-04-14 18:14:31.808000')],
       [1948, 'r', 0, Timestamp('2017-04-14 18:14:32.027000')],
       [1949, 'r', 1, Timestamp('2017-04-14 18:14:32.120000')],
       [1950, 'e', 0, Timestamp('2017-04-14 18:14:32.245000')],
       [1951, 'e', 1, Timestamp('2017-04-14 18:14:32.323000')],
       [1952, 'SPACE', 0, Timestamp('2017-04-14 18:14:32.385000')],
       [1953, 'SPACE', 1, Timestamp('2017-04-14 18:14:32.495000')],
       [1954, 't', 0, Timestamp('2017-04-14 18:14:32.573000')],
       [1955, 't', 1, Timestamp('2017-04-14 18:14:32.697000')],
       [1956, 'w', 0, Timestamp('2017-04-14 18:14:33.368000')],
       [1957, 'w', 1, Timestamp('2017-04-14 18:14:33.462000')],
       [1958, 'o', 0, Timestamp('2017-04-14 18:14:33.555000')],
       [1959, 'o', 1, Timestamp('2017-04-14 18:14:33.618000')],
       [1960, 'SPACE', 0, Timestamp('2017-04-14 18:14:33.727000')],
       [1961, 'SPACE', 1, Timestamp('2017-04-14 18:14:33.852000')],
       [1962, 's', 0, Timestamp('2017-04-14 18:14:33.945000')],
       [1963, 's', 1, Timestamp('2017-04-14 18:14:34.055000')],
       [1964, 'e', 0, Timestamp('2017-04-14 18:14:34.164000')],
       [1965, 'e', 1, Timestamp('2017-04-14 18:14:34.273000')],
       [1966, 'n', 0, Timestamp('2017-04-14 18:14:34.335000')],
       [1967, 'n', 1, Timestamp('2017-04-14 18:14:34.398000')],
       [1968, 't', 0, Timestamp('2017-04-14 18:14:34.491000')],
       [1969, 't', 1, Timestamp('2017-04-14 18:14:34.569000')],
       [1970, 'e', 0, Timestamp('2017-04-14 18:14:34.741000')],
       [1971, 'e', 1, Timestamp('2017-04-14 18:14:34.835000')],
       [1972, 'n', 0, Timestamp('2017-04-14 18:14:34.928000')],
       [1973, 'n', 1, Timestamp('2017-04-14 18:14:35.053000')],
       [1974, 'c', 0, Timestamp('2017-04-14 18:14:35.115000')],
       [1975, 'c', 1, Timestamp('2017-04-14 18:14:35.225000')],
       [1976, 'e', 0, Timestamp('2017-04-14 18:14:35.303000')],
       [1977, 'e', 1, Timestamp('2017-04-14 18:14:35.412000')],
       [1978, 's', 0, Timestamp('2017-04-14 18:14:35.568000')],
       [1979, 's', 1, Timestamp('2017-04-14 18:14:35.708000')],
       [1980, 'SPACE', 0, Timestamp('2017-04-14 18:14:35.786000')],
       [1981, 'SPACE', 1, Timestamp('2017-04-14 18:14:35.927000')],
       [1982, 'i', 0, Timestamp('2017-04-14 18:14:36.285000')],
       [1983, 'i', 1, Timestamp('2017-04-14 18:14:36.379000')],
       [1984, 'n', 0, Timestamp('2017-04-14 18:14:36.473000')],
       [1985, 'n', 1, Timestamp('2017-04-14 18:14:36.582000')],
       [1986, 'SPACE', 0, Timestamp('2017-04-14 18:14:36.691000')],
       [1987, 'SPACE', 1, Timestamp('2017-04-14 18:14:36.769000')],
       [1988, 't', 0, Timestamp('2017-04-14 18:14:36.909000')],
       [1989, 't', 1, Timestamp('2017-04-14 18:14:37.034000')],
       [1990, 'h', 0, Timestamp('2017-04-14 18:14:37.128000')],
       [1991, 'h', 1, Timestamp('2017-04-14 18:14:37.190000')],
       [1992, 'i', 0, Timestamp('2017-04-14 18:14:37.253000')],
       [1993, 'i', 1, Timestamp('2017-04-14 18:14:37.299000')],
       [1994, 's', 0, Timestamp('2017-04-14 18:14:37.362000')],
       [1995, 's', 1, Timestamp('2017-04-14 18:14:37.440000')],
       [1996, 'SPACE', 0, Timestamp('2017-04-14 18:14:37.549000')],
       [1997, 'SPACE', 1, Timestamp('2017-04-14 18:14:37.627000')],
       [1998, 'd', 0, Timestamp('2017-04-14 18:14:37.861000')],
       [1999, 'd', 1, Timestamp('2017-04-14 18:14:37.970000')]],
      dtype=object)

In [19]:
# hold_time = {}
# flight1 = {}
# for i in range (1,len(sample_1)):
#     if sample_1['key'][i-1] is not None:
#         if (sample_1['key'][i-1] == sample_1['key'][i]) and (sample_1['direction'][i]==1) :
#             hold_time[i] = (((sample_1['time'][i] - sample_1['time'][i-1])).microseconds)/1000
#         if (sample_1['key'][i-1] != sample_1['key'][i]) and (sample_1['direction'][i]==1)
#             flight1[i] =

In [237]:
user1_desktop_1 = user_1_sample_1_desktop.values
user1_mobile_1 = user_1_sample_1_mobile.values
user1_tablet_1 = user_1_sample_1_tablet.values

In [21]:
# def get_KHT(keys_in_pipeline, search_key, search_key_timing):
#     mask = np.ones(len(keys_in_pipeline))
#     keys_in_pipeline = np.asarray(keys_in_pipeline)

#     for i, (key, timing) in enumerate(keys_in_pipeline):
#         if(search_key==key):
#             mask[i] = 0
#             kht = (((search_key_timing-timing)).microseconds)/1000
#             non_zero_indices = np.nonzero(mask) 
#             if(len(non_zero_indices)>0):
#                 keys_in_pipeline = keys_in_pipeline[non_zero_indices]
#             else:
#                   keys_in_pipeline = []
#             return keys_in_pipeline, kht

#     return keys_in_pipeline, None

In [22]:
# def get_KHT_features(data):
#     feature_dictionary = {}
#     keys_in_pipeline = []

#     for row_idx in range(len(data)):
#         keys_in_pipeline = list(keys_in_pipeline)
#         curr_key = data[row_idx][1]
#         curr_direction = data[row_idx][2]
#         curr_timing = data[row_idx][3]

#         if(curr_direction==0):
#             keys_in_pipeline.append([curr_key, curr_timing])

#         if(curr_direction==1):
#             keys_in_pipeline, curr_kht = get_KHT(keys_in_pipeline, curr_key, curr_timing)
#             if(curr_kht is None):
#                   continue
#             else:
#                     if(curr_key in list(feature_dictionary.keys())):
#                         feature_dictionary[curr_key].append(curr_kht)
#                     else:
#                         feature_dictionary[curr_key] = []
#                         feature_dictionary[curr_key].append(curr_kht)

#     return feature_dictionary

In [92]:
def get_timings_KIT(keys_in_pipeline, search_key, search_key_timing):
    mask = np.ones(len(keys_in_pipeline))
    keys_in_pipeline = np.asarray(keys_in_pipeline)
    for i, (key, timing) in enumerate(keys_in_pipeline):
          if(search_key==key):
            mask[i] = 0
            non_zero_indices = np.nonzero(mask) 

            if(len(non_zero_indices)>0):
                keys_in_pipeline = keys_in_pipeline[non_zero_indices]
            else:
                  keys_in_pipeline = []

            return keys_in_pipeline, timing, search_key_timing
    return keys_in_pipeline, None, None

# function to get KIT data frame with key, press_time, release_time for a given user
def get_dataframe_KIT(data):
    """ Input: data  Output: Dataframe with (key, press_time, release_time)""" 
    feature_dictionary = {}
    keys_in_pipeline = []
    result_key = []
    press = []
    release = []
    for row_idx in range(len(data)):
        keys_in_pipeline = list(keys_in_pipeline)
        curr_key = data[row_idx][1]
        curr_direction = data[row_idx][2]
        curr_timing = data[row_idx][3]

        if(curr_direction==0):
            keys_in_pipeline.append([curr_key, curr_timing])

        if(curr_direction==1):
            keys_in_pipeline, curr_start, curr_end = get_timings_KIT(keys_in_pipeline, curr_key, curr_timing)
            if(curr_start is None):
                continue
            else:
                result_key.append(curr_key)
                press.append(curr_start)
                release.append(curr_end)

    resultant_data_frame = pd.DataFrame(list(zip(result_key, press, release)),
               columns =['Key', 'Press_Time', 'Release_Time']) 
    return resultant_data_frame

In [119]:
def get_KHT_features(data):
    """ Input: keystroke data, Output: Dictionary of (next_key_press - current_key_release) """
    feature_dictionary = {}

    for row_idx in range(0, len(data)):
        curr_key = data[row_idx][0]
        current_press_time = data[row_idx][1]
        current_release_time = data[row_idx][2]
        if(row_idx + 1 >= len(data)):
            break
        next_key = data[row_idx + 1][0]
        next_press_time = data[row_idx + 1][1]
        next_release_time = data[row_idx + 1][2]
        
        feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((current_release_time-current_press_time)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = [(((current_release_time-current_press_time)).microseconds)/1000 , (((next_release_time-next_press_time)).microseconds)/1000]
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_release_time-next_press_time)).microseconds)/1000)
    return feature_dictionary

In [179]:
def get_KIT_features_F1(data):
    """ Input: keystroke data, Output: Dictionary of (next_key_press - current_key_release) """
    feature_dictionary = {}

    for row_idx in range(0, len(data)):
        curr_key = data[row_idx][0]
        if(row_idx + 1 >= len(data)):
            break
        next_key = data[row_idx + 1][0]
        curr_timing = data[row_idx][2]
        next_timing = data[row_idx+1][1]
        
        #if(str(curr_key)+','+str(next_key) in list(feature_dictionary.keys())):
          #  feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
       # else:
        #feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = (((next_timing-curr_timing)).microseconds)/1000

    return feature_dictionary  

# function to get Flight2 KIT feature dictionary for a given user
def get_KIT_features_F2(data):
    """ Input: keystroke data, Output: Dictionary of (next_key_press - current_key_press) """
    feature_dictionary = {}

    for row_idx in range(0, len(data)):
        curr_key = data[row_idx][0]
        if(row_idx + 1 >= len(data)):
            break
        next_key = data[row_idx + 1][0]
        curr_timing = data[row_idx][1]
        next_timing = data[row_idx+1][1]
#         if(str(curr_key)+','+str(next_key) in list(feature_dictionary.keys())):
#             feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
#         else:
        #feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = (((next_timing-curr_timing)).microseconds)/1000

    return feature_dictionary  

# function to get Flight3 KIT feature dictionary for a given user
def get_KIT_features_F3(data):
    """ Input: keystroke data, Output: Dictionary of (next_key_release - current_key_release) """
    feature_dictionary = {}

    for row_idx in range(0, len(data)):
        curr_key = data[row_idx][0]
        if(row_idx + 1 >= len(data)):
            break
        next_key = data[row_idx + 1][0]
        curr_timing = data[row_idx][2]
        next_timing = data[row_idx+1][2]
#         if(str(curr_key)+','+str(next_key) in list(feature_dictionary.keys())):
#             feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
#         else:
        #feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = (((next_timing-curr_timing)).microseconds)/1000

    return feature_dictionary  

# function to get Flight3 KIT feature dictionary for a given user
def get_KIT_features_F4(data):
    """ Input: keystroke data, Output: Dictionary of (next_key_release - current_key_press) """
    feature_dictionary = {}

    for row_idx in range(0, len(data)):
        curr_key = data[row_idx][0]
        if(row_idx + 1 >= len(data)):
            break
        next_key = data[row_idx + 1][0]
        curr_timing = data[row_idx][1]
        next_timing = data[row_idx+1][2]
#         if(str(curr_key)+','+str(next_key) in list(feature_dictionary.keys())):
#             feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
#         else:
        #feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((next_timing-curr_timing)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = (((next_timing-curr_timing)).microseconds)/1000

    return feature_dictionary

In [180]:
# def average(user):
#     average = {}
#     for key, timing in user.items():
#         average[key] = sum(timing)/ len(timing)
#     return average

In [238]:
df_desktop_user1 = get_dataframe_KIT(user1_desktop_1)
df_mobile_user1 = get_dataframe_KIT(user1_mobile_1)
df_tablet_user1 = get_dataframe_KIT(user1_tablet_1)

In [239]:
df_desktop_user1.head(10)

         Key              Press_Time            Release_Time
0          t 2017-04-14 18:09:41.538 2017-04-14 18:09:41.679
1          i 2017-04-14 18:09:41.819 2017-04-14 18:09:42.006
2  BACKSPACE 2017-04-14 18:09:43.223 2017-04-14 18:09:43.379
3  BACKSPACE 2017-04-14 18:09:43.925 2017-04-14 18:09:44.097
4          t 2017-04-14 18:09:44.674 2017-04-14 18:09:44.830
5          h 2017-04-14 18:09:44.924 2017-04-14 18:09:45.158
6          i 2017-04-14 18:09:44.986 2017-04-14 18:09:45.220
7          s 2017-04-14 18:09:45.282 2017-04-14 18:09:45.392
8      SPACE 2017-04-14 18:09:45.750 2017-04-14 18:09:45.906
9          i 2017-04-14 18:09:46.172 2017-04-14 18:09:46.265

In [208]:
df_mobile_user1.head(16)

          Key              Press_Time            Release_Time
0           a 2017-04-14 19:03:30.480 2017-04-14 19:03:30.563
1       SPACE 2017-04-14 19:03:30.869 2017-04-14 19:03:30.965
2           s 2017-04-14 19:03:31.233 2017-04-14 19:03:31.317
3           a 2017-04-14 19:03:31.456 2017-04-14 19:03:31.564
4           m 2017-04-14 19:03:31.582 2017-04-14 19:03:31.727
5           p 2017-04-14 19:03:31.962 2017-04-14 19:03:32.082
6           l 2017-04-14 19:03:32.209 2017-04-14 19:03:32.329
7           e 2017-04-14 19:03:32.340 2017-04-14 19:03:32.424
8           . 2017-04-14 19:03:33.601 2017-04-14 19:03:33.699
9           t 2017-04-14 19:03:35.885 2017-04-14 19:03:35.991
10          h 2017-04-14 19:03:36.099 2017-04-14 19:03:36.191
11          i 2017-04-14 19:03:36.355 2017-04-14 19:03:36.462
12          a 2017-04-14 19:03:36.532 2017-04-14 19:03:36.638
13      SPACE 2017-04-14 19:03:36.814 2017-04-14 19:03:36.911
14  BACKSPACE 2017-04-14 19:03:37.625 2017-04-14 19:03:37.745
15  BACKSPACE 2017-04-14 19:03:37.825 2017-04-14 19:03:37.932

In [184]:
df_tablet_user1.head(10)

     Key              Press_Time            Release_Time
0  SPACE 2017-04-14 19:53:32.173 2017-04-14 19:53:32.287
1      t 2017-04-14 19:53:33.165 2017-04-14 19:53:33.262
2      h 2017-04-14 19:53:33.341 2017-04-14 19:53:33.447
3      i 2017-04-14 19:53:33.630 2017-04-14 19:53:33.751
4      s 2017-04-14 19:53:33.870 2017-04-14 19:53:33.951
5  SPACE 2017-04-14 19:53:34.175 2017-04-14 19:53:34.252
6      d 2017-04-14 19:53:34.336 2017-04-14 19:53:34.425
7      a 2017-04-14 19:53:34.617 2017-04-14 19:53:34.738
8      t 2017-04-14 19:53:34.858 2017-04-14 19:53:34.962
9      a 2017-04-14 19:53:35.066 2017-04-14 19:53:35.171

In [240]:
KH_user1_desktop = get_KHT_features(df_desktop_user1.values)
F1_user1_dekstop = get_KIT_features_F1(df_desktop_user1.values)
F2_user1_desktop = get_KIT_features_F2(df_desktop_user1.values)
F3_user1_desktop = get_KIT_features_F3(df_desktop_user1.values)
F4_user1_desktop = get_KIT_features_F4(df_desktop_user1.values)

KH_user1_mobile = get_KHT_features(df_mobile_user1.values)
F1_user1_mobile = get_KIT_features_F1(df_mobile_user1.values)
F2_user1_mobile = get_KIT_features_F2(df_mobile_user1.values)
F3_user1_mobile = get_KIT_features_F3(df_mobile_user1.values)
F4_user1_mobile = get_KIT_features_F4(df_mobile_user1.values)

KH_user1_tablet = get_KHT_features(df_tablet_user1.values)
F1_user1_tablet = get_KIT_features_F1(df_tablet_user1.values)
F2_user1_tablet = get_KIT_features_F2(df_tablet_user1.values)
F3_user1_tablet = get_KIT_features_F3(df_tablet_user1.values)
F4_user1_tablet = get_KIT_features_F4(df_tablet_user1.values)

In [113]:
F1_user1_dekstop

{'.,RETURN': 139.0,
 'RETURN,t': 45.0,
 't,h': 94.0,
 'h,i': 63.0,
 'i,s': 63.0,
 's,SPACE': 109.0,
 'SPACE,i': 358.0,
 'SPACE,a': 93.0,
 'a,SPACE': 938.0,
 'SPACE,t': 140.0,
 't,e': 172.0,
 'e,s': 156.0,
 's,t': 937.0,
 't,SPACE': 62.0,
 't,o': 953.0,
 'o,SPACE': 109.0,
 'SPACE,s': 93.0,
 's,e': 109.0,
 'e,e': 172.0,
 'e,SPACE': 62.0,
 'i,f': 141.0,
 'f,SPACE': 78.0,
 'h,e': 125.0,
 'SPACE,w': 281.0,
 'w,o': 93.0,
 'o,r': 62.0,
 'r,d': 156.0,
 'd,s': 125.0,
 'h,a': 156.0,
 'a,t': 922.0,
 'i,SPACE': 47.0,
 't,y': 78.0,
 'y,p': 187.0,
 'p,e': 62.0,
 'a,r': 219.0,
 'r,e': 125.0,
 'SPACE,u': 125.0,
 'u,n': 156.0,
 'n,i': 62.0,
 'i,q': 171.0,
 'q,u': 125.0,
 'u,e': 94.0,
 'SPACE,m': 93.0,
 'm,e': 78.0,
 'e,.': 141.0,
 '.,SPACE': 265.0,
 'e,r': 109.0,
 't,w': 671.0,
 'e,n': 93.0,
 'n,t': 93.0,
 'n,c': 62.0,
 'c,e': 78.0,
 'i,n': 94.0,
 'n,SPACE': 109.0,
 'SPACE,d': 234.0}

In [29]:
# avgKH_user1 = average(KH_user1)
# avgF1_user1 = average(F1_user1)
# avgF2_user1 = average(F2_user1)
# avgF3_user1 = average(F3_user1)
# avgF4_user1 = average(F4_user1)

In [241]:
dfKH_1_desktop = pd.DataFrame.from_dict(KH_user1_desktop, orient='index', columns=['hold_time1','hold_time2']).reset_index()
dfKH_1_desktop = dfKH_1_desktop.rename(columns = {'index':'Keys'})
dfF1_1_desktop = pd.DataFrame.from_dict(F1_user1_dekstop, orient='index', columns=['F1_time']).reset_index()
dfF1_1_desktop = dfF1_1_desktop.rename(columns = {'index':'Keys'})
dfF2_1_desktop = pd.DataFrame.from_dict(F2_user1_desktop, orient='index', columns=['F2_time']).reset_index()
dfF2_1_desktop = dfF2_1_desktop.rename(columns = {'index':'Keys'})
dfF3_1_desktop = pd.DataFrame.from_dict(F3_user1_desktop, orient='index', columns=['F3_time']).reset_index()
dfF3_1_desktop = dfF3_1_desktop.rename(columns = {'index':'Keys'})
dfF4_1_desktop = pd.DataFrame.from_dict(F4_user1_desktop, orient='index', columns=['F4_time']).reset_index()
dfF4_1_desktop = dfF4_1_desktop.rename(columns = {'index':'Keys'})

dfKH_1_mobile = pd.DataFrame.from_dict(KH_user1_mobile, orient='index', columns=['hold_time1','hold_time2']).reset_index()
dfKH_1_mobile = dfKH_1_mobile.rename(columns = {'index':'Keys'})
dfF1_1_mobile = pd.DataFrame.from_dict(F1_user1_mobile, orient='index', columns=['F1_time']).reset_index()
dfF1_1_mobile = dfF1_1_mobile.rename(columns = {'index':'Keys'})
dfF2_1_mobile = pd.DataFrame.from_dict(F2_user1_mobile, orient='index', columns=['F2_time']).reset_index()
dfF2_1_mobile = dfF2_1_mobile.rename(columns = {'index':'Keys'})
dfF3_1_mobile = pd.DataFrame.from_dict(F3_user1_mobile, orient='index', columns=['F3_time']).reset_index()
dfF3_1_mobile = dfF3_1_mobile.rename(columns = {'index':'Keys'})
dfF4_1_mobile = pd.DataFrame.from_dict(F4_user1_mobile, orient='index', columns=['F4_time']).reset_index()
dfF4_1_mobile = dfF4_1_mobile.rename(columns = {'index':'Keys'})

dfKH_1_tablet = pd.DataFrame.from_dict(KH_user1_tablet, orient='index', columns=['hold_time1','hold_time2']).reset_index()
dfKH_1_tablet = dfKH_1_tablet.rename(columns = {'index':'Keys'})
dfF1_1_tablet = pd.DataFrame.from_dict(F1_user1_tablet, orient='index', columns=['F1_time']).reset_index()
dfF1_1_tablet = dfF1_1_tablet.rename(columns = {'index':'Keys'})
dfF2_1_tablet = pd.DataFrame.from_dict(F2_user1_tablet, orient='index', columns=['F2_time']).reset_index()
dfF2_1_tablet = dfF2_1_tablet.rename(columns = {'index':'Keys'})
dfF3_1_tablet = pd.DataFrame.from_dict(F3_user1_tablet, orient='index', columns=['F3_time']).reset_index()
dfF3_1_tablet = dfF3_1_tablet.rename(columns = {'index':'Keys'})
dfF4_1_tablet = pd.DataFrame.from_dict(F4_user1_tablet, orient='index', columns=['F4_time']).reset_index()
dfF4_1_tablet = dfF4_1_tablet.rename(columns = {'index':'Keys'})

In [242]:
full_set_desktop = [dfKH_1_desktop, dfF1_1_desktop, dfF2_1_desktop, dfF3_1_desktop, dfF4_1_desktop]
feature_vector_user1_sample_1_desktop= pd.concat([d.set_index('Keys') for d in full_set_desktop], axis=1).reset_index()
#feature_vector['Keys'].str.split(',', expand=True)

full_set_mobile = [dfKH_1_mobile, dfF1_1_mobile, dfF2_1_mobile, dfF3_1_mobile, dfF4_1_mobile]
feature_vector_user1_sample_1_mobile= pd.concat([d.set_index('Keys') for d in full_set_mobile], axis=1).reset_index()

full_set_tablet = [dfKH_1_tablet, dfF1_1_tablet, dfF2_1_tablet, dfF3_1_tablet, dfF4_1_tablet]
feature_vector_user1_sample_1_tablet= pd.concat([d.set_index('Keys') for d in full_set_tablet], axis=1).reset_index()

In [243]:
feature_vector_user1_sample_1_desktop

,Keys,hold_time1,hold_time2,F1_time,F2_time,F3_time,F4_time
0,"t,i",141.0,187.0,140.0,281.0,327.0,468.0
1,"i,BACKSPACE",187.0,156.0,217.0,404.0,373.0,560.0
2,"BACKSPACE,BACKSPACE",156.0,172.0,546.0,702.0,718.0,874.0
3,"BACKSPACE,t",172.0,156.0,577.0,749.0,733.0,905.0
4,"t,h",140.0,93.0,63.0,203.0,156.0,296.0
5,"h,i",93.0,78.0,63.0,156.0,141.0,234.0
6,"i,s",78.0,93.0,78.0,156.0,171.0,249.0
7,"s,SPACE",124.0,172.0,468.0,592.0,640.0,764.0
8,"SPACE,i",172.0,109.0,577.0,749.0,686.0,858.0
9,"SPACE,a",141.0,109.0,343.0,484.0,452.0,593.0
10,"a,SPACE",156.0,140.0,63.0,219.0,203.0,359.0
11,"SPACE,t",94.0,140.0,109.0,203.0,249.0,343.0
12,"t,e",62.0,94.0,140.0,202.0,234.0,296.0
13,"e,s",141.0,124.0,125.0,266.0,249.0,390.0
14,"s,t",203.0,203.0,875.0,78.0,78.0,281.0
15,"t,SPACE",62.0,109.0,156.0,218.0,265.0,327.0
16,"t,o",125.0,109.0,62.0,187.0,171.0,296.0
17,"o,SPACE",78.0,110.0,62.0,140.0,172.0,250.0
18,"SPACE,s",110.0,140.0,312.0,422.0,452.0,562.0
19,"s,e",140.0,125.0,125.0,265.0,250.0,390.0
20,"e,e",109.0,140.0,94.0,203.0,234.0,343.0
21,"e,SPACE",94.0,140.0,62.0,156.0,202.0,296.0
22,"i,f",125.0,156.0,62.0,187.0,218.0,343.0
23,"f,SPACE",156.0,62.0,94.0,250.0,156.0,312.0
24,"h,e",109.0,109.0,94.0,203.0,203.0,312.0
25,"SPACE,w",94.0,78.0,62.0,156.0,140.0,234.0
26,"w,o",172.0,78.0,156.0,328.0,234.0,406.0
27,"o,r",78.0,93.0,78.0,156.0,171.0,249.0
28,"r,d",93.0,47.0,203.0,296.0,250.0,343.0
29,"d,s",47.0,140.0,156.0,203.0,296.0,343.0
30,"h,a",63.0,203.0,156.0,219.0,359.0,422.0
31,"a,t",203.0,62.0,78.0,281.0,140.0,343.0
32,"i,SPACE",156.0,156.0,312.0,468.0,468.0,624.0
33,"t,y",109.0,93.0,188.0,297.0,281.0,390.0
34,"y,p",93.0,156.0,281.0,374.0,437.0,530.0
35,"p,e",156.0,156.0,172.0,328.0,328.0,484.0
36,"a,r",109.0,93.0,203.0,312.0,296.0,405.0
37,"r,e",93.0,94.0,172.0,265.0,266.0,359.0
38,"SPACE,u",156.0,109.0,328.0,484.0,437.0,593.0
39,"u,n",109.0,125.0,140.0,249.0,265.0,374.0
40,"n,i",125.0,93.0,47.0,172.0,140.0,265.0
41,"i,q",93.0,140.0,250.0,343.0,390.0,483.0
42,"q,u",140.0,125.0,63.0,203.0,188.0,328.0
43,"u,e",125.0,140.0,109.0,234.0,249.0,374.0
44,"SPACE,m",94.0,124.0,125.0,219.0,249.0,343.0
45,"m,e",124.0,124.0,188.0,312.0,312.0,436.0
46,"e,.",124.0,125.0,640.0,764.0,765.0,889.0
47,".,SPACE",125.0,156.0,249.0,374.0,405.0,530.0
48,"e,r",109.0,93.0,94.0,203.0,187.0,296.0
49,"t,w",125.0,172.0,187.0,312.0,359.0,484.0
50,"e,n",94.0,110.0,62.0,156.0,172.0,266.0
51,"n,t",62.0,62.0,63.0,125.0,125.0,187.0
52,"n,c",110.0,78.0,62.0,172.0,140.0,250.0
53,"c,e",78.0,141.0,140.0,218.0,281.0,359.0
54,"i,n",109.0,156.0,94.0,203.0,250.0,359.0
55,"n,SPACE",156.0,94.0,156.0,312.0,250.0,406.0

In [189]:
feature_vector_user1_sample_1_mobile

,Keys,hold_time1,hold_time2,F1_time,F2_time,F3_time,F4_time
0,"a,SPACE",119.0,80.0,28.0,147.0,108.0,227.0
1,"SPACE,s",120.0,138.0,210.0,330.0,348.0,468.0
2,"s,a",84.0,108.0,139.0,223.0,247.0,331.0
3,"a,m",108.0,145.0,18.0,126.0,163.0,271.0
4,"m,p",145.0,120.0,235.0,380.0,355.0,500.0
5,"p,l",120.0,120.0,127.0,247.0,247.0,367.0
6,"l,e",120.0,84.0,11.0,131.0,95.0,215.0
7,"e,.",92.0,98.0,294.0,386.0,392.0,484.0
8,".,t",98.0,106.0,186.0,284.0,292.0,390.0
9,"t,h",94.0,116.0,108.0,202.0,224.0,318.0
10,"h,i",120.0,164.0,163.0,283.0,327.0,447.0
11,"i,a",107.0,103.0,73.0,180.0,176.0,283.0
12,"SPACE,BACKSPACE",85.0,107.0,149.0,234.0,256.0,341.0
13,"BACKSPACE,BACKSPACE",84.0,117.0,59.0,143.0,176.0,260.0
14,"BACKSPACE,t",117.0,83.0,665.0,782.0,748.0,865.0
15,"i,s",182.0,120.0,53.0,235.0,173.0,355.0
16,"s,SPACE",108.0,143.0,93.0,201.0,236.0,344.0
17,"SPACE,i",97.0,106.0,613.0,710.0,719.0,816.0
18,"SPACE,a",107.0,128.0,821.0,928.0,949.0,56.0
19,"SPACE,t",82.0,94.0,912.0,994.0,6.0,88.0
20,"t,e",159.0,94.0,78.0,237.0,172.0,331.0
21,"e,s",94.0,109.0,140.0,234.0,249.0,343.0
22,"s,t",109.0,95.0,951.0,60.0,46.0,155.0
23,"t,SPACE",95.0,97.0,353.0,448.0,450.0,545.0
24,"t,o",106.0,117.0,83.0,189.0,200.0,306.0
25,"o,SPACE",117.0,85.0,259.0,376.0,344.0,461.0
26,"s,e",138.0,96.0,178.0,316.0,274.0,412.0
27,"e,e",96.0,119.0,81.0,177.0,200.0,296.0
28,"e,SPACE",108.0,147.0,81.0,189.0,228.0,336.0
29,"i,f",153.0,108.0,94.0,247.0,202.0,355.0
30,"f,SPACE",108.0,85.0,176.0,284.0,261.0,369.0
31,"h,e",116.0,140.0,140.0,256.0,280.0,396.0
32,"SPACE,w",97.0,106.0,416.0,513.0,522.0,619.0
33,"w,o",106.0,81.0,107.0,213.0,188.0,294.0
34,"o,r",81.0,148.0,164.0,245.0,312.0,393.0
35,"r,d",148.0,93.0,512.0,660.0,605.0,753.0
36,"d,s",93.0,108.0,151.0,244.0,259.0,352.0
37,"h,a",156.0,96.0,80.0,236.0,176.0,332.0
38,"a,t",96.0,95.0,57.0,153.0,152.0,248.0
39,"i,SPACE",106.0,145.0,283.0,389.0,428.0,534.0
40,"t,y",83.0,120.0,187.0,270.0,307.0,390.0
41,"y,p",120.0,118.0,355.0,475.0,473.0,593.0
42,"p,e",118.0,92.0,108.0,226.0,200.0,318.0
43,"a,r",128.0,69.0,216.0,344.0,285.0,413.0
44,"r,e",119.0,108.0,116.0,235.0,224.0,343.0
45,"SPACE,u",108.0,106.0,495.0,603.0,601.0,709.0
46,"u,n",106.0,155.0,128.0,234.0,283.0,389.0
47,"n,i",155.0,166.0,140.0,295.0,306.0,461.0
48,"i,q",166.0,108.0,81.0,247.0,189.0,355.0
49,"q,u",108.0,90.0,39.0,147.0,129.0,237.0
50,"u,e",90.0,107.0,56.0,146.0,163.0,253.0
51,"SPACE,m",85.0,106.0,474.0,559.0,580.0,665.0
52,"m,e",106.0,92.0,85.0,191.0,177.0,283.0
53,".,SPACE",98.0,82.0,603.0,701.0,685.0,783.0
54,"e,r",140.0,119.0,95.0,235.0,214.0,354.0

In [118]:
feature_vector_user1_sample_1_tablet

,Keys,hold_time1,hold_time2,F1_time,F2_time,F3_time,F4_time
0,"SPACE,t",140.0,89.0,639.0,779.0,728.0,868.0
1,"t,h",113.0,90.0,127.0,240.0,217.0,330.0
2,"h,i",113.0,136.0,177.0,290.0,313.0,426.0
3,"i,s",112.0,97.0,120.0,232.0,217.0,329.0
4,"s,SPACE",49.0,85.0,980.0,29.0,65.0,114.0
5,"SPACE,d",77.0,89.0,84.0,161.0,173.0,250.0
6,"d,a",81.0,137.0,215.0,296.0,352.0,433.0
7,"a,t",131.0,80.0,255.0,386.0,335.0,466.0
8,"t,a",120.0,105.0,64.0,184.0,169.0,289.0
9,"a,n",105.0,104.0,298.0,403.0,402.0,507.0
10,"n,BACKSPACE",104.0,105.0,319.0,423.0,424.0,528.0
11,"BACKSPACE,BACKSPACE",72.0,97.0,168.0,240.0,265.0,337.0
12,"BACKSPACE,s",121.0,72.0,641.0,762.0,713.0,834.0
13,"s,BACKSPACE",72.0,104.0,778.0,850.0,882.0,954.0
14,"BACKSPACE,d",104.0,81.0,515.0,619.0,596.0,700.0
15,"a,SPACE",95.0,130.0,41.0,136.0,171.0,266.0
16,"SPACE,s",100.0,92.0,431.0,531.0,523.0,623.0
17,"s,a",97.0,81.0,192.0,289.0,273.0,370.0
18,"a,m",81.0,81.0,297.0,378.0,378.0,459.0
19,"m,p",81.0,124.0,402.0,483.0,526.0,607.0
20,"p,l",124.0,98.0,164.0,288.0,262.0,386.0
21,"l,e",98.0,81.0,87.0,185.0,168.0,266.0
22,"e,.",81.0,83.0,59.0,140.0,142.0,223.0
23,".,t",83.0,80.0,413.0,496.0,493.0,576.0
24,"SPACE,i",130.0,90.0,484.0,614.0,574.0,704.0
25,"SPACE,a",115.0,121.0,662.0,777.0,783.0,898.0
26,"t,e",96.0,80.0,153.0,249.0,233.0,329.0
27,"e,s",80.0,102.0,168.0,248.0,270.0,350.0
28,"s,t",102.0,112.0,972.0,74.0,84.0,186.0
29,"t,SPACE",80.0,130.0,514.0,594.0,644.0,724.0
30,"t,o",89.0,963.0,278.0,367.0,241.0,330.0
31,"o,SPACE",963.0,131.0,289.0,252.0,420.0,383.0
32,"s,e",92.0,61.0,176.0,268.0,237.0,329.0
33,"e,e",61.0,97.0,96.0,157.0,193.0,254.0
34,"e,SPACE",97.0,140.0,304.0,401.0,444.0,541.0
35,"i,f",105.0,105.0,136.0,241.0,241.0,346.0
36,"f,SPACE",105.0,106.0,120.0,225.0,226.0,331.0
37,"h,e",112.0,121.0,201.0,313.0,322.0,434.0
38,"SPACE,w",157.0,145.0,526.0,683.0,671.0,828.0
39,"w,r",145.0,114.0,305.0,450.0,419.0,564.0
40,"r,d",105.0,72.0,152.0,257.0,224.0,329.0
41,"d,BACKSPACE",106.0,96.0,47.0,153.0,143.0,249.0
42,"BACKSPACE,w",97.0,89.0,777.0,874.0,866.0,963.0
43,"w,o",89.0,406.0,746.0,835.0,152.0,241.0
44,"o,r",406.0,105.0,144.0,550.0,249.0,655.0
45,"d,s",72.0,49.0,169.0,241.0,218.0,290.0
46,"h,a",90.0,131.0,175.0,265.0,306.0,396.0
47,"i,SPACE",90.0,98.0,80.0,170.0,178.0,268.0
48,"t,y",97.0,106.0,127.0,224.0,233.0,330.0
49,"y,p",106.0,129.0,353.0,459.0,482.0,588.0
50,"p,e",129.0,106.0,71.0,200.0,177.0,306.0
51,"a,r",121.0,64.0,289.0,410.0,353.0,474.0
52,"r,e",64.0,88.0,161.0,225.0,249.0,313.0
53,"SPACE,u",114.0,80.0,353.0,467.0,433.0,547.0
54,"u,n",80.0,120.0,265.0,345.0,385.0,465.0
55,"n,i",120.0,105.0,217.0,337.0,322.0,442.0
56,"i,q",105.0,105.0,159.0,264.0,264.0,369.0
57,"q,u",105.0,105.0,64.0,169.0,169.0,274.0
58,"u,e",105.0,97.0,120.0,225.0,217.0,322.0
59,"SPACE,m",131.0,80.0,787.0,918.0,867.0,998.0

In [233]:
feature_dictionary = {}
for row_idx in range(0,10):
        curr_key = df_desktop_user1.values[row_idx][0]
        current_press_time = df_desktop_user1.values[row_idx][1]
        current_release_time = df_desktop_user1.values[row_idx][2]
#         if(row_idx + 1 >= len(data)):
#             break
        next_key = df_desktop_user1.values[row_idx + 1][0]
        next_press_time = df_desktop_user1.values[row_idx + 1][1]
        next_release_time = df_desktop_user1.values[row_idx + 1][2]
        
        feature_dictionary[str(curr_key)+','+str(next_key)] = []
        #feature_dictionary[str(curr_key)+','+str(next_key)].append((((current_release_time-current_press_time)).microseconds)/1000)
        feature_dictionary[str(curr_key)+','+str(next_key)] = [(((current_release_time-current_press_time)).microseconds)/1000 , (((next_release_time-next_press_time)).microseconds)/1000]

In [232]:
feature_dictionary

{'.,RETURN': [109.0, 453.0],
 'RETURN,t': [453.0, 125.0],
 't,h': [125.0, 125.0],
 'h,i': [125.0, 281.0],
 'i,s': [281.0, 124.0]}

In [234]:
feature_dictionary

{'.,RETURN': [109.0, 453.0],
 'RETURN,t': [453.0, 125.0],
 't,h': [125.0, 125.0],
 'h,i': [125.0, 281.0],
 'i,s': [203.0, 125.0],
 's,SPACE': [125.0, 125.0],
 'SPACE,i': [124.0, 203.0],
 'SPACE,a': [125.0, 218.0]}

In [205]:
feature_dictionary

defaultdict(dict,
            {'a,SPACE': [106.0, 97.0],
             'SPACE,s': [96.0, 84.0],
             's,a': [84.0, 108.0],
             'a,m': [108.0, 145.0],
             'm,p': [145.0, 120.0],
             'p,l': [120.0, 120.0],
             'l,e': [120.0, 84.0],
             'e,.': [84.0, 98.0],
             '.,t': [98.0, 106.0],
             't,h': [106.0, 92.0],
             'h,i': [92.0, 107.0],
             'i,a': [107.0, 106.0],
             'SPACE,BACKSPACE': [97.0, 120.0],
             'BACKSPACE,BACKSPACE': [120.0, 107.0]})

In [176]:
feature_dictionary

{'.,RETURN': [109.0, 453.0],
 'RETURN,t': [453.0, 125.0],
 't,h': [125.0, 125.0],
 'h,i': [125.0, 281.0],
 'i,s': [203.0, 125.0],
 's,SPACE': [124.0, 124.0],
 'SPACE,i': [124.0, 203.0]}